.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 521px;
  min-height: 581px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close-btn {
  outline: none;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  padding-top: 5px;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus .icon-close-btn,
  &:hover .icon-close-btn {
    fill: var(--focus-color);
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: 0;
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) rotate(70deg);
    opacity: 0;
  }
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 39px;
  padding-right: 20px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    border-color: var(--focus-color);
  }
  &:focus + .icon-user-data,
  &:hover + .icon-user-data {
    fill: var(--focus-color);
  }
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-field {
  margin-bottom: 10px;
}
.modal-text {
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid #2196f3;
  }
}

.input-wrap {
  display: block;
  position: relative;
}
.icon-user-data {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.link-galka {
  color: var(--focus-color);
}
.check-text {
  font-size: 14px;
  line-height: 1.87;
  color: var(--text-color);
  display: flex;
  align-items: baseline;
}
.check-text {
  span {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border-color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.icon-galka {
  fill: #ffffff;
}
.input-check {
  &:checked + .check-text span {
    background-color: var(--focus-color);
    border-color: var(--focus-color);
  }
}
.modal-send-btn {
  margin-top: 30;
  margin-left: auto;
  margin-right: auto;
}
::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
