.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.header__logo--black {
  color: var(--title-color);
}
.footer__logo-white {
  color: var(--bg-color);
}
