.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    ont-size: 26px;
  }
}
.header__logo--black {
  color: var(--title-color);
}
.footer__logo-white {
  color: var(--bg-color);
}
