.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  .soc-link:focus &,
  .soc-link:hover & {
    fill: var(--text-focus-color);
  }
}

.soc-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.soc-link {
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: var(--focus-color);
  }
}

.soc-link {
  .soc-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
