:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --focus-color: #2196f3;
  --bg-color: #ffffff;
  --secondarybg-color: #2f303a;
  --text-focus-color: #ffffff;
  --icon-color: #afb1b8;
}
